.btn1 {
  font-family: "pinar";
  font-weight: 700;
  @apply rounded-lg text-white h-[56px] cursor-pointer flex gap-3 items-center justify-center px-[32px] max-w-[194px] w-full sm:max-w-none
}

.btn2 {
  font-family: "pinar";
  font-weight: 700;
  @apply rounded-lg text-white h-[48px] cursor-pointer flex gap-3 items-center justify-center px-[32px]
}