.form {
  @apply flex flex-col items-center pt-[136px] pb-[100px] px-[80px] xl:px-[40px] sm:px-[26px] gap-6
}

.formTitle {
  font-family: "pinar FD VF";
  font-weight: 800;
  @apply flex gap-[27px] sm:gap-[14px] sm:justify-between sm:w-full max-w-[735px]
}

.formTitle img {
  @apply w-[132px] sm:w-[85px]
}

.register {
  font-family: "pinar FD VF";
  font-weight: 800;
  white-space: nowrap;
  line-height: normal;
  @apply text-[50px] text-priary font-extrabold xs:text-[32px] sm:text-[24px] md:text-[32px] xxl:text-[50px] xl:text-[50px] lg:text-[50px]
}

.inputsWrapper {
  @apply flex flex-col pt-11 gap-5 max-w-[735px] w-[100%] xs:pt-0
}

.input {
  @apply flex flex-col w-full
}

.twoColumn {
  @apply flex gap-7 xs:flex-col sm:flex-col md:flex-col xxl:flex xl:flex lg:flex
}

.borderInput {
  @apply border border-black rounded-md h-[48px] p-[10px] outline-none font-[inherit]
}

.borderInput:focus {
  @apply border-priary
}

.uploadingSection .upperPart {
  @apply flex justify-between gap-[25px] mb-[16px]
}

.uploadingSection .upperPart .upload {
  position: relative;
  min-width: 104px;
  width: 104px;
  height: 104px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border: 1px dashed #D0D5DD;
  border-radius: 5px;
  background-color: #FAFAFA;
  padding: 2px;
}

.uploadingSection .upperPart .upload .image {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}

.uploadingSection .upperPart .upload .changeImage {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  border: 1px solid #860505;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transform: rotate(-45deg);
}

.uploadingSection .upperPart .upload:hover .image::after {
  content: "";
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.uploadingSection .upperPart .upload:hover .changeImage {
  display: flex;
}

.uploadingSection .upperPart .upload .changeImage svg path {
  stroke: #860505;
}

.uploadingSection .upperPart .upload .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadingSection .upperPart .upload input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.uploadingSection .upperPart .upload .icon {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadingSection .upperPart>p {
  @apply md:max-w-[54vw] xs:max-w-[190px]
}

.upperPart>.uploadBox {
  @apply w-[104px] h-[104px] bg-darkGray
}

.checkInput {
  @apply flex text-[16px] flex-col items-start justify-center
}

.checkInput .checkbox_wrapper {
  @apply flex items-start justify-start relative gap-2 z-[1]
}

.checkInput .checkbox_wrapper input {
  @apply
  /* mr-[15px] */
  absolute z-[1] left-0 top-0 opacity-0 w-full h-full cursor-pointer
}

.checkInput .checkbox_wrapper .checkbox {
  @apply w-[24px] h-[24px] min-w-[24px] rounded-[7px] border-[1px] border-black bg-[#F1F1F1] duration-300 flex items-center justify-center
}

.checkInput .checkbox_wrapper .checkbox::before {
  content: "";
  background: url("./../../assets/images/home/tick.svg") round;
  @apply w-[13px] h-[9px] opacity-0 duration-300
}

.checkInput .checkbox_wrapper input:checked~.checkbox {
  @apply border-priary
}

.checkInput .checkbox_wrapper input:checked~.checkbox::before {
  @apply opacity-100
}

.text {
  @apply flex justify-center text-[16px]
}

.textBlue {
  @apply text-priary ml-1 text-[16px] relative z-[2]
}

.label {
  @apply pb-2
}

.para {
  @apply text-red-600 font-thin pt-2
}

.checkButton {
  @apply flex w-full justify-between gap-y-[40px] xs:flex-col sm:flex-col md:flex-col xxl:flex xl:flex lg:flex
}

.borderCheckInput {
  @apply w-[24px] h-[24px] border-[7px]
}

.uploadRecived {
  @apply w-full max-w-[735px] flex items-center justify-between gap-5 flex-wrap xs:mt-[66px]
}

.uploadRecived button {
  margin-right: auto;
}

.uploadRecived .textWrapper {
  @apply w-full max-w-[540px] flex flex-col items-start justify-start gap-2
}

.uploadRecived .textWrapper .title {
  font-family: "pinar FD VF";
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.uploadRecived .textWrapper .explain {
  font-family: "noora";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.uploadRecived .button {
  font-family: "pinar";
  font-size: 16px;
  font-weight: 700;
  transition: .3s;
  gap: 8px;
  @apply w-full max-w-[156px] h-[42px] bg-priary text-white flex items-center justify-center rounded-lg text-center
}

.uploadRecived .button:hover {
  opacity: 0.8;
}