.registerRulesWrapper {
  width: 100%;
  padding: 68px 100px 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  flex-direction: column;
  font-family: "pinar";

  @apply
  lg:py-[32px]
  lg:px-[20px]
}

.registerRulesWrapper > .title {
  font-weight: 700;
  font-size: 36px;
  @apply
  text-priary
  sm:text-[26px]
}

.registerRulesWrapper .rules {
  width: 100%;
}

.registerRulesWrapper .rules ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.registerRulesWrapper .rules ul li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.registerRulesWrapper .rules ul li .title {
  font-size: 20px;
  font-weight: 700;
  @apply
  text-black
  sm:text-[16px]
}

.registerRulesWrapper .rules ul li .explain {
  color: #636363;
  font-size: 16px;
  font-family: "pinar fd vf";
  font-weight: 400;
  line-height: 35px;
  
  @apply
  sm:text-[12px]
  sm:leading-[20px]
}

.abstract {
  color: #636363;
  text-align: justify;
  line-height: normal;
}

.definitions > h2 {
  font-size: 20px;
  font-weight: 700;
  @apply text-black
  sm:text-[16px]
  mb-[8px];
}

.definitions p {
  color: #636363;
  line-height: normal;
  display: contents;
}

.definitions > ul {
  line-height: normal;
}

.definition > .title {
  color: #636363;
  font-weight: 700;
  line-height: normal;
  @apply whitespace-nowrap;
}

.registerRulesWrapper .rules {
  width: 100%;
}

.registerRulesWrapper .rules .ruleslist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

.registerRulesWrapper .rules .ruleslist > li {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.registerRulesWrapper .rules .ruleslist > li .title {
  font-size: 20px;
  font-weight: 700;
  @apply text-black
  mb-[8px]
  sm:text-[16px];
}

.registerRulesWrapper .rules .ruleslist > li .explain {
  color: #636363;
  font-size: 16px;
  font-family: "pinar fd vf";
  font-weight: 400;
  text-align: justify;
  line-height: normal;

  @apply sm:text-[12px]
  sm:leading-[20px];
}

.explain > li {
  display: list-item;
  list-style-type: decimal;
  margin-right: 19px;
}