.sectionWrapper {
  background: url("../../../assets/images/home/bg-antalya.png") round;
  @apply w-[100%] flex items-center mb-[78px] mt-[202px] relative lg:hidden sm:hidden px-[100px] py-[80px] justify-between pl-[450px]
}

.sectionWrapper::before {
  content: "";
  background: linear-gradient(90deg, #171717 43.19%, rgba(33, 33, 33, 0.00) 99.85%);
  opacity: 0.8;
  transform: rotate(180deg);
  @apply absolute right-0 top-0 w-full h-full
}

.leftSide {
  @apply flex gap-[15px] relative z-[2]
}

.multipleImg {
  @apply w-[36px]
}

.texts {
  @apply flex flex-col gap-[16px] -mt-[19px] w-full max-w-[633px]
}

.topTexts {
  @apply flex flex-col
}

.title {
  font-family: "pinar";
  font-size: 60px;
  font-weight: 700;
  @apply flex gap-[47px] whitespace-nowrap
}

.helloWrapper p {
  @apply font-[500] text-[3vw] text-white
}

.textWrapper h1 {
  @apply font-[500] text-[8vw] text-white font-[Ammhenthi] -mt-[36px] xl:text-[10vw]
}

.detail {
  font-family: "noora";
  @apply flex flex-col gap-[24px]
}

.detail p {
  @apply
  /* text-[#DDD] */
  text-gray font-[400] text-[18px] leading-[30px]
}

.rightSide {
  /* transform: rotateY(180deg); */
  /* @apply */
  /* w-[544px] */
  /* w-[368px]  h-[599px] flex items-end relative z-[1] -mt-[300px] -bottom-[97px] */
  position: absolute;
  bottom: 0;
  left: 100px;
}

.rightSide img {
  @apply max-w-[100%] max-h-full object-contain
  /* h-auto */
}