.main_content_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* background-repeat: no-repeat; */
  /* background-position: 0px 100%; */
  /* max-height: 509px; */
  /* padding-top: 174px; */

  @apply md:flex-col-reverse;
}

/* .main_content_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main_content_wrapper .textWrapper {
  width: 100%;
  padding: 210px 6vw 84px 48vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  position: absolute;

  @apply md:relative md:px-[10px] md:py-0 md:pt-[20px];
}

.main_content_wrapper .textWrapper .title {
  display: flex;
  font-family: "pinar FD VF";
  font-weight: 700;
  font-size: 2.5vw;
  @apply text-white md:text-priary md:text-2xl;
}

.main_content_wrapper .textWrapper .multiIcon {
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_content_wrapper .textWrapper .multiIcon svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

  @apply md:stroke-[#212121];
}

.main_content_wrapper .textWrapper .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 507px;
  gap: 16px;

  @apply md:max-w-none;
}

.main_content_wrapper .textWrapper .text .description {
  font-family: "noora";
  line-height: 2.7vw;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  @apply text-white md:text-black md:text-base;
}

.main_content_wrapper .textWrapper .text .items {
  width: 100%;
}

.main_content_wrapper .textWrapper .text .items ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 60px;
  flex-wrap: wrap;
}

.main_content_wrapper .textWrapper .text .items ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.main_content_wrapper .textWrapper .text .items ul li .icon {
  width: 3vw;
  height: 3vw;
  min-width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;

  @apply md:w-[40px] md:max-w-[40px] md:h-[40px];
}

.main_content_wrapper .textWrapper .text .items ul li .icon svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.main_content_wrapper .textWrapper .text .items ul li .icon svg path {
  @apply md:stroke-black;
}

.main_content_wrapper .textWrapper .text .items ul li .text {
  font-family: "pinar FD VF";
  font-size: 1vw;
  font-weight: 600;
  @apply text-white md:text-black md:text-base;
}
